$white: white;
$black: black;
$main1: #ff4d58;
$main2: #df2189;
$silver: #7f8c8b;
$sliverlight: rgba(143, 139, 139, 0.863);
$sliverlight50: #d4cfcf;
$sliverlight40: #f6f6fb;
$orange: #FBBF24;
$green: #34D399